<hr/ >
<footer role="contentinfo" class="text-muted">
  
  <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div>
        {% if page.date %}
          &copy;{{ page.date | date: "%Y" }}
        {% else %}
          &copy;{{ 'now' | date: "%Y" }}
        {% endif %}
        {{ site.title }}
      </div>
      <div>
        Built by
        <a href="http://codegaucho.com">
          CodeGaucho, LLC
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <div>
        <a href="mailto:{{ site.email }}">
          <i class="fa fa-envelope"></i> {{ site.email }}
        </a>
      </div>

      {% if site.github_username %}
      <div>
        <a href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-github"></i>

          <span class="username"> {{ site.github_username }}</span>
        </a>
      </div>
      {% endif %}

      {% if site.twitter_username %}
      <div>
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fa fa-twitter"></i>

          <span class="username"> {{ site.twitter_username }}</span>
        </a>
      </div>
      {% endif %}

      {% if site.google_plus %}
      <div>
        <a href="https://plus.google.com/{{ site.google_plus }}/posts">
          <i class="fa fa-google-plus"></i>

          <span class="username"> google plus</span>
        </a>
      </div>
      {% endif %}

      {% if site.google_scholar %}
      <div>
        <a href="https://scholar.google.com/citations?user={{ site.google_scholar }}&hl=en">
          <i class="fa fa-graduation-cap"></i>

          <span class="username"> google scholar</span>
        </a>
      </div>
      {% endif %}

      <div>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
          <i class="fa fa-rss"></i> RSS
        </a>

      </div>
    </div>
    <div class="col-sm-4 text-muted">
      {{ site.description }}
    </div>
  </div>
  </div>
</footer>

<!-- scripts to include on all pages -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js" crossorigin="anonymous"></script>

<!-- trying out bootstrap 4.0 alpha  -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js" integrity="sha256-+h0g0j7qusP72OZaLPCSZ5wjZLnoUUicoxbvrl14WxM= sha512-0z9zJIjxQaDVzlysxlaqkZ8L9jh8jZ2d54F3Dn36Y0a8C6eI/RFOME/tLCFJ42hfOxdclfa29lPSNCmX5ekxnw==" crossorigin="anonymous"></script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-523a7c0b1f4ca10a" async="async"></script>

<!-- we are using FreeFind to provide site search -->
<!-- type="text/javascript" src="{{ "/scripts/freefind.js" | prepend: site.baseurl | prepend: site.url }}" -->
<script type="text/javascript" src="/scripts/freefind.js"></script>

<!-- now fire off our scripts -->
<script>
  $(document).ready(function() {
    // This is more like it!
    //alert("here we are");
    //$( "#nav_{{page.active_nav}}" ).addClass( "active" );
  });
</script>
