<header class="container">
  <div class="container head_wrap">
    <img src="http://res.cloudinary.com/codegaucho/image/upload/v1381412670/uu1mlsbav8zglaovhod3.jpg">
  </div>
  <!-- class="navbar navbar-dark bg-primary navbar-static-top bd-navbar" role="banner" -->
  <nav class="navbar navbar-dark bg-primary" role="banner">

    <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2"> &#9776;</button>

    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2" >
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link" href="#">Research</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">News</a>
        </li>
      -->

        {% for page in site.pages %}
          {% if page.title %}
          <li class="nav-item">
            <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>

      <!--
      <form class="form-inline navbar-form pull-right">
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-success-outline" type="submit">Search</button>
      </form>
      -->
    </div>
  </nav>
</header>
