---
layout: default
---

{% if page.imageid %}
  {% capture imageurl %}http://res.cloudinary.com/{{site.cloudinary_id}}/image/upload/{{page.image_options}}/{{page.imageid}}{% endcapture %}
{% elsif page.imageurl %}
  {% capture imageurl %}{{page.imageurl}}{% endcapture %}
{% endif %}

<ol class="container breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/people/">People</a></li>
  <li class="active">{{ page.name }}</li>
</ol>

<div class="card">
  <img alt="100%x200" class="card-img-top img-responsive" style="display: block;" src="{{ imageurl }}">
  <div class="card-block">

        <header>
          <h1>{{ page.name }}</h1>
          {% if page.title %}
          <h2>{{ page.title }}</h2>
          {% endif %}
        </header>
        
        {% if page.lab %}
          <div>
            Lab: {{ page.lab }}
          </div>
        {% endif %}

        {% if page.office %}
          <div>
            Office: {{ page.office }}
          </div>
        {% endif %}

        {% if page.phone %}
          <div>
            Phone: {{ page.phone }}
          </div>
        {% endif %}

        {{ content }}

        <ul class="list-inline">
          {% if page.email %}
          <li>
            <a href="mailto:{{ page.email }}">
              <i class="fa fa-envelope"></i> {{ page.email }}
            </a>
          </li>
          {% endif %}

          {% if page.twitter %}
          <li>
            <a href="https://twitter.com/{{ page.twitter }}" >
              <i class="fa fa-twitter"></i>
              <span class="username"> {{ page.twitter }}</span>
            </a>
          </li>
          {% endif %}

          {% if page.google_plus %}
          <li>
            <a href="https://plus.google.com/{{ page.google_plus }}/posts"<>
              <i class="fa fa-google-plus"></i>
              <span class="username">google plus</span>
            </a>
          </li>
          {% endif %}

          {% if site.google_scholar %}
          <li>
            <a href="https://scholar.google.com/citations?user={{ site.google_scholar }}&hl=en">
              <i class="fa fa-graduation-cap"></i>

              <span class="username"> google scholar</span>
            </a>
          </li>
          {% endif %}
          
        </ul>
   
  </div><!-- card-block -->
</div><!-- card -->

